//====================================================================================================

.header {
	// .top-header
	color: #fff;
	background-color: $mainDarkColor;
}

.top-header {
	padding: rem(10) 0;

	// .top-header__container
	&__container {
		display: flex;
		align-items: center;
		gap: rem(20);
		min-height: rem(50);
	}
	// .top-header__menu
	&__menu {
		flex: 1 1 auto;
	}
	// .top-header__user
	&__user {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		line-height: math.div(22, 18);
		&::before {
			font-size: rem(28);
			margin-right: em(15, 28);
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
}
//====================================================================================================

.menu {
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: 5px;
		@include adaptiveValue("column-gap", 60, 20);
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//====================================================================================================
.body-header {
	color: $mainColor;
	padding: rem(10);
	background: #ecf1f2;

	// .body-header__container
	&__container {
		display: flex;
		min-height: rem(70);
		align-items: center;
	}
	//. body-header__logo
	&__logo {
		@extend %ic;
		@extend ._icon-logo;
		font-size: rem(42);
		color: $mainDarkColor;
	}
	// .body-header__search
	&__search {
		flex: 1 1 auto;
		padding-right: rem(20);
		@include adaptiveValue("padding-left", 158, 20);
	}
}
//====================================================================================================
.search-header {
	max-width: rem(377);
	background: rgba(7, 7, 7, 0.03);
	border-radius: rem(3);
	position: relative;
	border: 1px solid rgba(4, 4, 4, 0.5);
	// .search-header__button
	&__button {
		position: absolute;
		top: 0;
		left: rem(8);
		color: rgba(0, 0, 0, 0.5);
		background: transparent;
		height: rem(41);
		width: rem(41);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(14);
	}
	// .search-header__input
	&__input {
		width: 100%;
		background: transparent;
		height: rem(41);
		color: $mainColor;
		padding: 0 rem(20) 0 rem(50);
	}
}
//====================================================================================================
.actions-header {
	display: flex;
	align-items: center;
	column-gap: rem(30);

	// .actions-header__location
	&__location {
		display: inline-flex;
		align-items: center;
		font-weight: 600;
		margin: 0 rem(25) 0 0;
		&::before {
			font-size: rem(24);
			margin: 0 em(10, 24) 0 0;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
	// .actions-header__phones
	&__phones {
		// 123
	}
	// .actions-header__favorites
	&__favorite {
		font-size: rem(27);
	}
	// actions-header__cart
	&__cart {
	}
}
//====================================================================================================
.phones-header {
	// .phone-header__items
	&__items {
		//123
	}
	// ..phone-header__item
	&__item {
		// .phone-header__item
		display: flex;
		position: relative;
	}
	// .phone-header__phone
	&__phone {
		font-weight: 600;
		white-space: nowrap;
		line-height: math.div(22, 18);
	}
	// .phone-header__arrow
	&__arrow {
		color: $mainOrange;
		font-size: rem(10);
		transition: transform 0.3s ease 0s;
		margin: 0px 0px 0px em(17, 16);
		&._spoller-active {
			transform: rotate(-180deg);
		}
	}
	// .phone-header__list
	&__list {
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		margin: rem(5) 0px 0px 0px;
		border-radius: rem(10);
		background: #fff;
		padding: rem(15);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		li {
			&:not(:last-child) {
				margin-bottom: em(8, 18);
			}
		}
	}
	// .phone-header__callback
	&__callback {
		margin: rem(3) 0px 0px px;
		font-weight: 700;
		line-height: math.div(22, 18);
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//====================================================================================================
.cart-header {
	display: flex;
	column-gap: 15px;
	align-items: center;
	// .cart-header__icon
	&__icon {
		flex: 0 0 37px;
		font-size: rem(35);
		position: relative;
		span {
			position: absolute;
			width: rem(14);
			height: rem(14);
			font-size: rem(8);
			background: $mainOrange;
			border-radius: 50%;
			color: #fff;
			display: flex;
			top: 0;
			right: 0;
			justify-content: center;
			align-items: center;
		}
	}
	// .cart-header__body
	&__body {
		font-size: rem(16);
		line-height: math.div(20, 16);
		flex: 0 0 auto;
		&:not(:last-child) {
			margin-bottom: em(5, 16);
		}
	}
	// .cart-header__summ
	&__summ {
		font-weight: 500;
	}
	// .cart-header__link
	&__link {
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//====================================================================================================
.header {
	&__catalog {
	}
}
.catalog-header {
	position: relative;
	background: $mainDarkColor;
	&__container {
	}

	&__menu {
	}
}
.menu-catalog {
	&__list {
		display: flex;
		justify-content: space-between;
	}

	&__item {
	}

	&__link {
		position: relative;
		display: flex;
		padding: 0 rem(10);
		min-height: rem(70);
		justify-content: center;
		align-items: center;
		text-align: center;
		transition: color 0.3s ease 0s;
		&::after {
			content: "";
			opacity: 0;
			visibility: hidden;
			position: absolute;
			bottom: 0;
			left: rem(10);
			height: 2px;
			width: calc(100% - rem(20));
			background: $mainOrange;
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainOrange;
				&::after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&._sub-menu-active {
			color: $mainOrange;
			&::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__sub-menu {
		width: 100%;
		left: 0;
		top: 100%;
		background: $mainDarkColor;
	}
}
.sub-menu-catalog {
	&__block {
		display: none;
		@for $var from 1 to 6 {
			&_#{$var} {
				grid-template-columns: repeat($var, minmax(auto, rem(320)));
			}
		}
		&._sub-menu-open {
			display: grid;
		}
	}
	&__container {
		padding: 0 rem(10);
	}

	&__category {
		font-size: rem(16);
		line-height: math.div(20, 16);
		font-weight: 700;
		padding: rem(30) rem(15) rem(30) 0;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: rem(30) rem(15) rem(30) 0;
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	&__item {
	}

	&__link {
		font-size: rem(16);
		line-height: math.div(20, 16);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	//.sub-menu-catalog
	&__footer {
		padding: rem(30) rem(15) rem(30) 0;
	}

	&__all {
		font-size: rem(16);
		color: $mainOrange;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//====================================================================================================
//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 30px;
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
